        section.three-column {
            margin-top: 30px;
        }

        aside.three-column {
            width: 15%;
        }

        aside.sidebar-right {
            width: 18%;
            background-color: cornflowerblue;
            height: 100%;
            float: right;
            min-height: 480px;
            padding: 1%;
        }

        article.three-column-content {
            width: 61%;
            position: absolute;
            left: 15%;
            float: none;
        }

        table.courses-table {
            width: 100%;
        }

        table.courses-table tr {
            padding: 3px 5px;
            background-color: ghostwhite;
            border: 1px solid #CCC;
            transition-duration: 0.7s;
        }

        table.courses-table tr:nth-child(even) {
            background-color: #CCC;
        }

        table.courses-table tr:hover {
            background-color: yellow;
        }
        .content-bio img {
            height: 170px;
            margin: 5px 15px 5px 5px;
        }

        .logo img {
            height: 123px;
            padding: 5px 15%;
        }
div.login-form {
    padding:20px;
    width:300px;
    height:250px;
    background-color:#CCC;
    margin:90px auto 0;
    border-radius:7px;
}
input.login-input {
    width:100%;
    padding:5px 2px;
    border-radius:5px;
    margin:7px 0;
}
h1.login-h1 {
    margin-bottom:15px;
}
button.login-button {
    padding:5px 15px;
    border-radius:7px;
    background-color:blueviolet;
    color:#FFF;
}
p.error-message{
   display:none;
    margin-top:10px;
    padding:5px;
    width:100%;
    color:#FFF;
    background-color:orangered;
    border:1px solid yellow;
    border-radius:5px;
}
div.login-page {
    background-image:url('../images/login-background.jpg');
    background-size:cover;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
}
body {
    min-height:100%;
    display:flex;
    flex-direction:column;

}
.wrapper {
    flex:1;
}
.main-header {
    background-color: lime;
    height: 123px;
    width: 70%;
    padding: 5px 15%;
}
.main-header h1 {
    line-height: 50px;
}
.footer {
    height: 50px;
    background-color: lime;
}
span.logo {
    color: blue;
}
.copyright {
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
.box-shadow {
    box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
    -webkit-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
    -moz-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
    -o-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
}
.content-top {
    60%;
    height: 180px;
    background-color: #CCC;
    margin: 10px 0;
}

.content-bio {
    position: relative;
    background-color: #AAA;
    width: 70%;
    max-width:980px;
    height: 180px;
    margin: 0 auto;
}
.content-bio img {
    height: 170px;
    margin: 5px 15px 5px 5px;
}
.bio-text {
    position: absolute;
    top: 5px;
    left: 310px;
}
.content-bottom {
    overflow: auto;
    width: 70%;
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}
.sidebar {
    float: left;
    background-color: cornflowerblue;
    width: 25%;
    height: 774px;
    margin-bottom: 10px;
}

.main-content {
    float: right;
    background-color: darkmagenta;
    width: 71%;
    height: 774px;
    padding: 0 2% 0 2%;
}

.sidebar-links {
    background-color: transparent;
    max-width: 165px;
}
.sidebar-links li {
    width: 100%;
    height: 30px;
    border: 1px solid #CCC;
    border-top: 1px solid cornflowerblue;
}
.sidebar-links a {
    display: block;
    padding: 7px;
    text-decoration: none;
    transition-duration: 0.7s;
}
.sidebar-links a:hover {
    background-color: #CCC;
    color: #000;
}
.gallery h1 {
  margin: 30 px 0 15 px 0;
}
.gallery ul{
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}
.gallery li{
  margin-right: 10px;
  display: inline;
}
.gallery img{
  width: 130px;
  height: 100px;
}
    .gallery-header {
        width:100%;
        padding:10px;
        background-color:#CCC;
    }
    .main-page {
        height:500px;
        width:100%;
        background-color:blueviolet;

    }
    aside.content-sidebar {
        background-color: darkslategray;
        float:left;
        width:20%;
        height:100%;
    }
    aside.content-sidebar ul {
        list-style-type: none;
        height: 100%;
    }
    aside.content-sidebar li {
        display:block;
        width:100%;
        height:90px;
    }
    aside.content-sidebar a {
        text-decoration:none;
        padding:10px 15px;
        display:block;
        border: 1px solid #CCC;
        margin:10px 0 0 0;
    }
    .button-gradient {
        background: rgba(226,226,226,1);
        background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 13%, rgba(219,219,219,1) 14%, rgba(209,209,209,1) 45%, rgba(254,254,254,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(13%, rgba(219,219,219,1)), color-stop(14%, rgba(219,219,219,1)), color-stop(45%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
        background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 13%, rgba(219,219,219,1) 14%, rgba(209,209,209,1) 45%, rgba(254,254,254,1) 100%);
        background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 13%, rgba(219,219,219,1) 14%, rgba(209,209,209,1) 45%, rgba(254,254,254,1) 100%);
        background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 13%, rgba(219,219,219,1) 14%, rgba(209,209,209,1) 45%, rgba(254,254,254,1) 100%);
        background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 13%, rgba(219,219,219,1) 14%, rgba(209,209,209,1) 45%, rgba(254,254,254,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    }
input.submit-button {
    padding:5px 15px;
    width:100%;
    border-radius:7px;
    background-color:blueviolet;
    color:#FFF;
}
.main-content-submit {
    float: right;
    background-color: darkmagenta;
    width: 71%;
    height: 430px;
    padding: 0 2% 0 2%;
}
div.submit-form {
    padding:20px;
    width:300px;
    height:250px;
    background-color:#CCC;
    margin:90px auto 0;
    border-radius:7px;
}
h1.submit-h2 {
    margin-bottom:20px;
}
.logo-contact img {
    height: 100px;
    padding: 5px 15%;
}
.contact-header {
    background-color: lime;
    height: 123px;
    width: 70%;
    padding: 5px 15%;
}

